<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <h3>Listing Details</h3>
        <ul>
            <li><%=showListing.title %></li>
            <li><%=showListing.description %></li>
            <li><%=showListing.image %></li>
            <li>&#8377;<%=showListing.price.toLocaleString("en-IN") %></li>
            <li><%=showListing.location %></li>
            <li><%=showListing.country %></li>
        </ul>
        <br>
            <a href="/listings/<%=showListing._id%>/edit">Edit this listing</a>
        
       
    
</body>
</html>